<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="joinClass.html">
    <title>GroupClasses List</title>
</head>
<body>
<h1>Find Classes</h1>

<form action="/GroupClasses" method="post" enctype="multipart/form-data">
        <!-- Filter by day of the week -->
        <label for="dayWeek">Day of the Week:</label>
        <select id="dayWeek" name="dayWeek">
            <option value="">Select a day</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
            <option value="Any">Any</option>
        </select><br><br>
        <!-- Filter by instructor -->
        <label for="instructor">Instructor:</label>
        <input type="text" id="instructor" name="instructor" placeholder="Instructor's name"><br><br>

        <!-- Button to apply filters -->
        <button type="submit" value='Save'>Apply Filters</button>
    </form>

<a href="/">Back</a>

</body>
</html>