<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>{{#isEdit}}Edit Post{{/isEdit}}{{^isEdit}}Create Post{{/isEdit}}</title>
    <link rel="stylesheet" type="text/css" href="/css/post_form.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>

<form action="{{#isEdit}}/blog/changePost/{{post.postid}}{{/isEdit}}{{^isEdit}}/blog/new{{/isEdit}}"
      method="post" enctype="multipart/form-data">
    <input type="hidden" name="isEdit" value="{{isEdit}}">
    {{#isEdit}}
    <input type="hidden" name="user" value="{{post.creator.name}}">
    {{/isEdit}}

    <p><label>Title: </label></p>
    <p><input type="text" name="title" placeholder="Title" value="{{#isEdit}}{{post.title}}{{/isEdit}}" required></p>

    <p>Text:</p>
    <div id="editor" style="height: 200px;">{{#isEdit}}{{post.description}}{{/isEdit}}</div>
    <textarea id="description-textarea" name="description" rows="20" cols="40" style="display: none;">{{#isEdit}}{{post.description}}{{/isEdit}}</textarea>

    <p>Image file:</p>
    <input type='file' name='imagefile' accept=".jpg, .jpeg"/>


    <input type='submit' value='Save'/>

</form>

<a href="/blog">Back</a>

<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    const quill = new Quill('#editor', {
        theme: 'snow'
    });

    // Obtain the content of the post and put in on Quill
    let description = document.getElementById('description-textarea').value;

    console.log("Descripción cargada en Quill:", description); // Debug to verify content

    // Insert description if not empty
    if (description) {
        quill.root.innerHTML = description;
    }

    quill.on('text-change', function () {
        document.getElementById('description-textarea').value = quill.root.innerHTML;
    }); //Without enriched text

</script>
</body>
</html>
