<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Image</title>
    <link rel="stylesheet" type="text/css" href="/css/post_done.css">
</head>
<body>
<h2>Image of the Post</h2>

<!-- Show imagen -->
<img src="http://localhost:8080/blog/{id}/image" alt="Image of the post" style="max-width:100%; height:auto;">

<!-- Button to download the image -->
<br>
<a href="/blog/{id}/image/download_image">Download</a>
<a href="/blog/{id}" class="btn back-btn">Back</a>
</body>
</html>