<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Image</title>
    <link rel="stylesheet" type="text/css" href="/css/post_done.css">
</head>
<body>
<h2>Image of the Post</h2>

<!-- Show image -->
<img src="/blog/{{Post.postid}}/image" alt="Image"/>

<!-- Button to download the image -->
<br>
<a href="/blog/{{id}}/image/download_image">Download</a>
<a href="/blog/{{id}}" class="btn back-btn">Back</a>
</body>
</html>